<head>
    <meta http-equiv="Content-Type"  content="text/html; charset=utf-8">
    <meta charset="utf-8"/>

    <title>{{#if title}}{{ title }} | {{/if}}{{ site.title }}</title>

    <meta name="author" content="{{ site.author }}">
    <meta name="robots" content="{{#if robots}}{{ robots }}{{else}}index, follow{{/if}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/assets/favicon.ico">

    <link rel="stylesheet" href="/assets/normalize.css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://brick.a.ssl.fastly.net/TeX+Gyre+Heros:400,700:f/Source+Serif+Pro:400/Playfair+Display:700i">

    <link rel="stylesheet" href="/assets/main.css">
</head>
